.products{
  border-radius: 10px;
  border: 1px solid rgb(155, 153, 153);
  margin:70px 10px 0px 10px;
  position: relative;
 
}
.product{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

}
.products img{
    width: 100%;
    border-radius: 8px;
   
}
.products h6{
    font-size: 15px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-top: 2px;

}
.products h4{
    font-size: 14px;
    margin-top: 1px;
    margin-left: 5px;
    

}

.products-seler{
    margin-bottom: -14px;
    margin-top: -10px;
}
.products-rating{
   margin-bottom: 45px;
}
.retingColor{
    color:orangered
}
.add-cart-btn{
   
      width: 100%;
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;

    
}
.add-cart-btn:hover{
    background-color: orangered;
    color:wheat
}