.shop-contaneir{
    
    display: grid;
    grid-template-columns: 4fr 1fr;

}
.products-container{
    background-color: white;
    padding:1px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
    

    
}
.btn-procedo{
    width: 91%;
    margin:10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF9900;
    border-radius: 4px;
    color: white;
    font-size: 20px;
}
.cart-container{
    background: #FF99004D;  
}
@media only screen and (max-width: 700px){

    .products-container{
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;       
    }
    .shop-contaneir{

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    
    }
    .cart-container{
        background: #FF99004D;  
        margin: 10px;
        border-radius: 10px;
    }
   
}

@media only screen and (max-width: 500px){

    .products-container{
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
        
    
        
    }
}